<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

<div id ="chart-container" style="float:left;">Demo graph</div>
<div id="chart-container2" style="float:left;">Demo graph</div>
<div id="chart-container3">Demo graph</div>
